@charset "UTF-8";

/**
* Web client term project CSS file
* @author minwook-shin
*/

/* Nanum font */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');



/* Default code - Remove padding and margin */ 
body { 
    margin-top: 50px; 
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0; 
    border: 0; 
    font-family: 'Nanum Gothic', sans-serif;
    background-color: whitesmoke;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/* Default code - Set position */ 

.clear { 
    clear:both; 
} 

.right { 
    float: right; 
} 

.left { 
    float: left; 
}

/* Color */

.black{
    background-color: black;
    color: white;
    border: 10px soild black;
}

.white{
    background-color: white;
    color: black;
}

.red{
    background-color: red;
    color: white;
}

.orange{
    background-color: orange;
    color: white;
}

.yellow{
    background-color: yellow;
    color: black;
}

.green{
    background-color: green;
    color: white;
}

.blue{
    background-color: blue;
    color: white;
}

.indigo{
    background-color: indigo;
    color: white;
}

.purple{
    background-color: purple;
    color: white;
}

.aqua{
    background-color: aqua;
    color: black;
}

.pink{
    background-color: pink;
    color: black;
}

.gray{
    background-color: gray;
    color: white;
}

/* Button */

.button {
    text-align: center;
    font-size: 1.2em;
    padding: 5px 15px 5px 15px;
    display: inline-block;
    cursor: pointer;
}

.round{
    border-radius: 10px;
}

.circle{
    border-radius: 2em;
}

.border{
    border: 10px soild black;
}

/* Input */

.full {
    width: 100%;
}

.half{
    width: 45%;
}

.short{
    width: 20%;
}

.input{
    padding: 5px 15px 5px 15px;
    display: inline-block;
    border: 1px solid black;
    background-color: whitesmoke;
}

.input:focus{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: lightgray;
    border: 1px solid #555;
}


/* Navigation bar */

.navi{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    margin-top: 0;
    top: 0;
}

.list {
    float: left;
}

.select {
    display: block;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lightsteelblue;
    color: black;
}